{% spaceless %}
    <div class="box box-solid">
        {#<div class="box-header with-border">#}
            {#<h3 class="box-title">About Me</h3>#}
        {#</div>#}

        <div class="box-body">

            <strong>
                <i class="fa fa-book margin-r-5"></i> Nombre
            </strong>

            <p class="text-muted">
                {{ entity.name }}
            </p>

            <hr>

            <strong>
                <i class="fa fa-map-marker margin-r-5"></i> inicio
            </strong>

            <p class="text-muted">
                {{ entity.latitudeStart ~ '--' ~ entity.longitudeStart }}
            </p>

            <hr>

            <strong>
                <i class="fa fa-map-marker margin-r-5"></i> fin
            </strong>

            <p class="text-muted">
                {{ entity.latitudeEnd ~ '--' ~ entity.longitudeEnd }}
            </p>


            <hr>

            <strong>
                <i class="fa fa-users margin-r-5"></i> Lista de pasajeros
            </strong>

            <table class="table table-bordered">
                <tbody>
                    <tr>
                        <th style="width: 10px">#</th>
                        <th>Nombre</th>
                        <th >Progress</th> {#style="width: 40px"#}
                    </tr>

                    {% for obj in pasajeroHasRoute %}
                        <tr>
                            <td>
                            <span class="badge bg-orange">
                                {{ obj.id|e }}
                            </span>
                            </td>
                            <td>{{ getUser(obj.user.id) }}</td>
                            <td>
                                <div class="progress progress-xs">
                                    <div class="progress-bar progress-bar-danger" style="width: 55%"></div>
                                </div>
                            </td>
                        </tr>
                    {% else %}
                        <tr>
                            <td colspan="3">
                            No hay pasajeros
                            </td>
                        </tr>
                    {% endfor %}

                </tbody>
            </table>

            <hr>

            {#<strong>#}
                {#<i class="fa fa-pencil margin-r-5"></i> Skills#}
            {#</strong>#}

            {#<p>#}
                {#<span class="label label-danger">UI Design</span>#}
                {#<span class="label label-success">Coding</span>#}
                {#<span class="label label-info">Javascript</span>#}
                {#<span class="label label-warning">PHP</span>#}
                {#<span class="label label-primary">Node.js</span>#}
            {#</p>#}

        </div>
    </div>
{% endspaceless %}